<html>
<head>
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <title>Hello, There</title>
</head>
<body>
    <h1>Home</h1>
    <img src='/image/mary.png'/>
</body>
</html>
